<ion-header >
  <ion-toolbar>
    <ion-title>
      Home recipes
    </ion-title>
    

  </ion-toolbar>

  
</ion-header>

<ion-content>
  
  
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-padding">Burger</ion-card-title>
      <img class="displayed" src="../../assets/img/burger.jpg" alt="burger" ><img>
      <ion-card-subtitle>Burger recipe</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content >
     <p>Click below for your burger recipe</p> 
      
      <ion-button expand="block" (click)="burgerRecipe()">Burger recipe</ion-button> 
    </ion-card-content>
   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-padding">Pizza</ion-card-title>
      <img class="displayed" src="../../assets/img/pizza.jpg" alt="pizza" ><img>
      <ion-card-subtitle>Pizza recipe</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Click below for your Pizza recipe</p>
      
       <ion-button expand="block" (click)="pizzaRecipe()">Pizza recipe</ion-button>
    </ion-card-content>
   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-padding">Pasta</ion-card-title>
      <img class="displayed" src="../../assets/img/pasta.jpg" alt="pasta" ><img>
      <ion-card-subtitle>Pasta recipe</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Click below for your Pasta recipe</p>
      
      <ion-button expand="block" (click)="pastaRecipe()">pasta recipe</ion-button> 
    </ion-card-content>
   
  </ion-card>
</ion-content>
