<ion-header class="displayed" >
  <ion-toolbar>
    <ion-title>
      Home recipes
    </ion-title>
    <div class="displayed">
      <img src="../../assets/img/stew.jpg" alt="stew" ><img>
    </div>

  </ion-toolbar>

  
</ion-header>

<ion-content>
  
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Burger</ion-card-title>
      <img class="displayed" src="../../assets/img/burger.jpg" alt="burger" ><img>
      <ion-card-subtitle>Burger recipe</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here you will find a burger recipe
      
      <ion-button expand="block" (click)="burgerRecipe()">Burger recipe</ion-button> 
    </ion-card-content>
   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Pizza</ion-card-title>
      <img class="displayed" src="../../assets/img/pizza.jpg" alt="pizza" ><img>
      <ion-card-subtitle>Pizza recipe</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here you will find a Pizza recipe
      
       <ion-button expand="block" (click)="pizzaRecipe()">Pizza recipe</ion-button>
    </ion-card-content>
   
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Pasta</ion-card-title>
      <img class="displayed" src="../../assets/img/pasta.jpg" alt="pasta" ><img>
      <ion-card-subtitle>Pasta recipe</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here you will find a pasta recipe
      
      <ion-button expand="block" (click)="pastaRecipe()">pasta recipe</ion-button> 
    </ion-card-content>
   
  </ion-card>
</ion-content>
